.App {
  text-align: center;
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: var(--primary-color);
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  padding: 1.6rem 0rem 3.2rem 0rem;
}

::-webkit-scrollbar {
  display: none;
}