.o-btn-link {
    border: 0.2rem solid #fff;
    height: 5.6rem;
    min-height: fit-content;
    padding: 1.6rem 2.0rem;
    margin-bottom: 1.6rem;
    cursor: pointer;
    background-color: none;
}

.o-btn-link:hover  {
    background-color: #fff;
    color: var(--secondary-color);
}

a {
    background-color: none;
    color: inherit;
}