.o-profile-container {
    margin: 1.4rem 0rem 3.2rem 0rem;
}

.o-img-profile {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 20rem;
    margin-bottom: 1.6rem;
}

.o-main-title {
    font-size: 1.5rem;
}